<footer class="page-footer bg-primary text-white-50" id="sticky-footer">
    <div class="container">
        <div class="row">
			<div class="col-sm">
				<p class="social-title">Encontre esse projeto no Github</p>
				<div class="social">
					<ul>
						<li>
							<a href="https://github.com/josenaldo/invocador-de-nomes-do-capeta/" target="_new">
								<i class="fab fa-github  fa-6x"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm">
				<p class="social-title">Patrocine esse projeto</p>
				<div class="social-link">
					<p>
						<a href="https://picpay.me/josenaldo" target="_new">
							https://picpay.me/josenaldo
						</a>
					</p>
					<p>
						<img src="{{'assets/images/qrcode-200.png' | relative_url}}" alt="Doe para PicPay @Josenaldo" class="social-link">
					</p>

				</div>
			</div>

			<div class="col-sm">
				<p class="social-title">Social Media</p>
				<div class="social">
					<ul>
						{% if site.twitter_username %}
							<li>
								<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						{% endif %}
					
						{% if site.linkedin_link %}
							<li>
								<a href="{{ site.linkedin_link }}" target="_new" >
									<i class="fab fa-linkedin"></i>
								</a>
							</li>
						{% endif %}
										
						{% if site.facebook_link %}
							<li>
								<a href="{{ site.facebook_link }}" target="_new">
									<i class="fab fa-facebook"></i>
								</a>
							</li>
						{% endif %}
					
						{% if site.github_username %}
							<li>
								<a href="https://github.com/{{ site.github_username }}" target="_new">
									<i class="fab fa-github-alt"></i>
								</a>
							</li>
						{% endif %}
														
						{% if site.instagram_username %}
							<li>
								<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_new">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
						{% endif %}
					
						{% if site.reddit_username %}
							<li>
								<a href="https://www.reddit.com/u/{{ site.reddit_username }}" target="_new">
									<i class="fab fa-reddit-alien"></i>
								</a>
							</li>
						{% endif %}
					
						<li>
							<a href="{{'feed.xml' | relative_url }}" target="_new">
								<i class="fa fa-rss"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
        </div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Copyright © 2020 Vudu Reverso Tudo nessa porra é reservado
		</div>
	  </div>
    
</footer>
