// ---------------------------------------
// Jogo da Forca
// ---------------------------------------
.keyboard-row{
    margin-bottom: 10px;
}

.alert {
    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
}

#dashes {
    letter-spacing: 5px;
}