// ---------------------------------------
// Home
// ---------------------------------------

.jumbotron-invocador{
    background-image: url("{{'/assets/images/nome-bg.png' | relative_url}}");

    h1{
        color: $color-primary;
    }
}

.card-deck {
    margin-bottom: 20px;
}