// ---------------------------------------
// Template
// ---------------------------------------


//****************************************
// Tipografia
//****************************************

h1, h2, h3, h4, h5, h6{
    color: $primary_color;
}


//****************************************
// Elementos
//****************************************
.navbar-brand {
    font-size: 2em;
}

.home-breadcrumb {
    .breadcrumb{
        margin-bottom: 0;
    }
}

.breadcrumb-container{
    width: 100;
    background-color: #e9ecef;
}

.page-footer {

    width: 100%;

    padding: 1em 0 0 0;
    text-align: center;

    a{
        color: $white !important;
    }

    .social-title {
        color: $white;
        font-weight: bold;
        font-size: 1.5em;
    }

    .social-link {
        color: $white;
        font-weight: bold;
        font-size: 1em;

        a{
            // color: $white;
            text-decoration: none;
            border-bottom: none !important;
        }
    }

    .social {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                font-size: 32px;
                margin: 0 5px;
                ;

                a:-webkit-any-link {
                    text-decoration: none !important;
                    // color: $white;
                    border-bottom: none !important;
                }
            }
        }
    }

    .footer-copyright{
        color: $white;
    }
}
