--- 
---
/* Colours */
$darker: #21211E;
$dark: #2D2D29;
$medium: #3B3B35;
$light-medium: #969696;

$dark-blue: #215A6D;
$light-blue: #3CA2A2;

$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;

/* Responsive sizes */
$screen-sm-min: 600px;
$screen-md-min: 768px;
$screen-lg-min: 992px;

.btn-capeta {
    word-wrap:break-word;
    white-space: normal !important;
    display: inline-block;
    outline: none;
    background-color: $dark;
    border-color: $light-blue;
    color: $light-blue;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    font-size: 20px;
    font-weight: 700;
    padding: 20px;

    border-style: solid;
    border-width: 3px;
    margin-top: 30px;

    max-width: 90%;

    &:hover {
        background-color: $darker;
        border-color: $dark-blue;
        color: $dark-blue;
    }



    &:active {
        background-color: $dark;
        border-color: $light-blue;
        color: $light-blue;    
    }
}

.nome-do-capeta {
    color: $light;
    font-size: 40px;
    font-weight: 700;
    word-wrap:break-word;
    white-space: normal !important;
    max-width: 100%;
    text-align: center;

    @media (max-width: $screen-sm-min - 1) {
        font-size: 25px;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 30px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 35px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 40px;
    }
}

.index .row-content {
    margin-top: 0px;
}

.index .row-content .content-panel:nth-of-type(1) {
    margin-top: 0;
    padding-top: 30px;
}

.about-image {
   

    @media (max-width: $screen-sm-min - 1) {
        width: 90px;
        height: 90px;
    }

    @media (min-width: $screen-sm-min) {
        width: 120px;
        height: 120px;
    }

    @media (min-width: $screen-md-min) {
        width: 140px;
        height: 140px;
    }

    @media (min-width: $screen-lg-min) {
        width: 150px;
        height: 150px;
    }
}