---
---

@import '_animation';
$white: #FFFFFF;

h1, h2, h3, h4, h5, h6{
    color: #4d1854;
}

.home-breadcrumb {
    .breadcrumb{
        margin-bottom: 0;
    }
}

.jumbotron-invocador{
    background-image: url("{{'/assets/images/nome-bg.png' | relative_url}}");

    h1{
        color: #611F6A;
    }
}

.speech-bubble {
	position: relative;
	background: #611F6A;
    border-radius: .5em;
    margin-bottom: 50px;
    h1{
        color: $white;
    }
    padding: 20px;

}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 53%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: #611F6A;
	border-bottom: 0;
	border-left: 0;
	margin-left: -25px;
	margin-bottom: -50px;
}

.btn-devil{

    display: inline-block;
    width: 150px;
    height: 150px;

    background-image: url("{{'assets/images/user.png' | relative_url}}");
    background-position: center;
    border-bottom: none !important;
    transition: all 0.5s ease-in;

    //start click effect
    &:before {
        content: '';
        filter: brightness(70%);
    }
    &:active {
        filter: brightness(50%);
        transition: all 0.5s ease-out;
    }
}

.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.keyboard-row{
    margin-bottom: 10px;
}

.page-footer {

    width: 100%;

    padding: 1em 0 0 0;
    text-align: center;

    a{
        color: $white !important;
    }

    .social-title {
        color: $white;
        font-weight: bold;
        font-size: 1.5em;
    }

    .social-link {
        color: $white;
        font-weight: bold;
        font-size: 1em;

        a{
            // color: $white;
            text-decoration: none;
            border-bottom: none !important;
        }
    }

    .social {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                font-size: 32px;
                margin: 0 5px;
                ;

                a:-webkit-any-link {
                    text-decoration: none !important;
                    // color: $white;
                    border-bottom: none !important;
                }
            }
        }
    }

    .footer-copyright{
        color: $white;
    }
}
